@media (max-width: 768px) {
    .menu {
        padding: 0 12px;
    }
    .about-item {
        width: 100%;
    }
    .content-items {
        width: 100%;
    }
    .huida-item {
        width: 100%;
    }
    .zuofan-tou {
        width: 100%;
        margin-bottom: 20px;
    }
}